# SA React Frontend ignored files
node_modules/
**/sa-frontend/build/

# SA Logic - Python ignored files
venv/

# SA Java Spring WebApp ignored files
target/
.mvn/
!**/maven-wrapper.jar
.classpath
.project
.settings

# IDE ignored files
.idea/
*.iml
